h1 {
    color:saddlebrown; 
 }

img {
     width: 400px;
}

 body {
    margin:0
}

ul {
    list-style-type: none;
  }
  
.container {
    display: flex;
    padding: 10px;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    font-family: sans-serif;
}

.container div {
 width: 100%;
 margin: 10px;
 text-align: center;
 
}

 #thirdDiv {
     width: 600px;
     height: 500px;
     background-color: mintcream;
     padding: 50px;
     border:1px solid darkgray;
 }

 #spanId {
     font-size: 18px;
     margin: 50px;
 }

 .background {
     position: absolute;
     content:"";
     background: url("https://www.wallpapertip.com/wmimgs/50-504378_restaurant-hd-wallpaper-restaurant-hd.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     opacity: 0.5;
     width: 100%;
     height: 100%;
     z-index: -1;
 }